/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  padding: 20px;
  background-color: #181a1b;
  color: whitesmoke;
}

h1,h2 {
  color: deeppink;
}

button {
  border-color: #736b5e;
  background-color: #181a1b;
  color: whitesmoke;
  font-size: x-large;
}

table caption,h3{
  text-align: left;
  color: rgb(255, 114, 255);
  font-size: x-large;
  font-weight: bold;
}

td {
  text-align: right;
}

#root {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  column-gap: 20px;
}

.grid-root {
  display: grid;
  grid-column: 2;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
}
